
:root{
	--prime: #00ff34;
}

/* HOME SECTION */
.home2 {
	display: flex;
	min-height: 70vh;
	align-items: center;
	justify-content: center;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 95%, 0 100%);
}
.banner2 {
	height: 100%;
	width: 100%;
	position: absolute;
	background: url(images/front/victo_on_bars.png);
	background-size: cover;
	background-position: center;
	filter: brightness(40%);
}


/* overview */

.about .content .cols .a {
	position: relative;
	color: var(--prime);
	background: black;
	border-radius: 5px;
	text-decoration: none;
	text-transform: capitalize;
}

.about .content .cols .a:hover {
	color: var(--prime);
	background: #fff;
}

.about .content .cols .box {
	position: relative;
	height: 620px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

/*style require section*/
.require .content {
	flex-wrap: wrap;
}

.require .content .frame {
	position: relative;
	width: 500px;
	padding: 30px 30px 40px 30px;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
	margin: 10px;
	background: #222;
}

.require .content .frame .box {
	position: relative;
	height: 300px;
	width: 100%;
	overflow: hidden;
}

.require .content .frame .box img{
	position: absolute;
	height: 100%;
	width: 100%;
	filter: grayscale(1);
	object-fit: cover;
	transition: 0.2s ease-in;
}
.require .content .frame .box:hover img{
	filter: grayscale(0);
	transform: scale(1.08);
}

.require .content .frame .headline {
	display: flex;
	justify-content: space-between;
	margin: 8px 0;
}

.require .content .frame .headline i {
	height: 22px;
	width: 22px;
	border: 1.5px solid #fff;
	border-radius: 50%;
	text-align: center;
	font-size: 12px;
	margin-right: 5px;
	cursor: pointer;
	line-height: 22px;
}

.require .content .frame .headline i:hover {
	border: 1.5px solid	var(--prime);
	background: var(--prime);
}

.require .content .frame .headline .title {
	color: var(--prime);
	font-size: 1.2em;
}

.require .content .frame p {
	font-size: 0.8em;
	position: relative;
	bottom: 5px;
}


/*make responsive*/
@media screen and (max-width: 1100px) and (max-height:2400px) {
	
	/*common size for all section*/
	.view {
		width: 100%;
		min-height: 80vh;
		position: relative;
	}
	
	/*home section*/
	.home2 {
		display: flex;
		min-height: 40vh;
		align-items: center;
		justify-content: center;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 95%, 0 100%);
	}
		
		.navbar{
			padding: 0 60px;
		}
		.navbar ol{
			display: none;
		}
	
		.navbar ol.active{
			top: 60px;
			left: 0;
			width: 100%;
			display: flex;
			position: fixed;
			background: #222;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			height: calc(100% - 60px);
		}
	
		.navbar ol.active li {
			margin: 8px;
		}
	
		.navbar ol.active li a {
			font-size: 25px;
		}
	
		.navbar .toggle{
			height: 25px;
			width: 25px;
			margin: auto 0;
			cursor: pointer;
			background: url(images/menubar.jpg);
			background-size: 25px;
			background-position: center;
			filter: invert(1);
			background-repeat: no-repeat;
		}
		.navbar .toggle.active{
			background: url(images/close.png);
			background-size: 40px;
			background-position: center;
			cursor: pointer;
			filter: invert(1);
		}
	
		.highlights h3 {
			font-size: 3vw;
			padding: 5px 10px;
			border-left: 3px solid var(--prime);
		}
		.highlights h1 {
			font-size: 16vw;
		}
	
		.highlights .join{
			font-size: 1.8vw;
			border: 1px solid var(--prime);
		}

	}